body{
    background-color:#0b0f19;
    margin:0;
    padding:0;
    color: white;
}
.menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    border-bottom: 1px solid rgba(240, 238, 238, 0.23);
    width: 90%;
    margin: 0 auto;
}
.menu-trai{
    display: flex;
    align-items: center;
    gap: 30px;
}
.logo{
    width: 90px;
}
.danh-sach-menu{
    display: flex;
    gap : 30px;
}
.kenh{
    list-style:none;
}
a{
    text-decoration:none;
    color:white;
}
.mua-goi{
    color: white;
    background-color:rgb(227, 99, 13);
    width: 90px;
    height: 40px;
    border-radius: 5px;
}
.noi-dung-chinh{
    width: 100%;
    margin:30px auto;
    display:flex;
    justify-content:center;
}
.anh-chinh{
    width: 60%;
    border-radius: 15px;
}
footer{ 
    width: 95%;
    margin: 0 auto;
}

h3{
    font-size: 24px;
    margin-bottom: 10px;
}
.danh-sach-kenh{
    display: flex;
    gap: 10px;

    img{
        border-radius: 10px;
    }
}
.truc-tiep{
    margin-top: 50px;
}
.ten-truc-tiep{ 
    h3{
    font-size: 24px;
    }
    img{
        border-radius: 10px;
    }
}
.he-thong{
    margin-top: 50px;
    img{
        width: 100%;
        border-radius:10px;
    }
}
.tin-tuc{
    margin-top: 50px;
}
.danh-sach-tin-tuc{
    display: flex;}
.danh-sach-trai{
    width: 30%;

}
.muc-danh-sach{
    display: flex;
    align-items:center;
    gap: 10px;
    margin: 20px 0;
}
.dang-chon{
    background-color: #262c3a;
    border-radius: 8px;
    padding: 10px;
}
.muc-danh-sach:hover{
    background-color: #262c3a;
    border-radius: 8px;
}
.danh-sach-trai-tren{
    padding: 20px;
}

.danh-sach-trai-duoi{
    width: 95%;
    margin-top: 20px;
    border-top: 1px solid rgba(183, 180, 180, 0.173);
    p{
        padding: 15px 0;
    }
}
.danh-sach-phai{
    width: 70%;
    img{
        width: 100%;
        border-radius: 10px;
    }
}
.noi-bat{
    margin-top: 30px;
}
.anh-noi-bat{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    img{
        width: 10%;
        border-radius: 100%;
    }
}